<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 </head>


<div style="text-align:center">
 <div class="header">
  <h1>{{ title }}</h1>
 </div> 
</div>



<div class = "county">
<iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~quintenrivers/2.embed"></iframe>
</div>
<div class = "county">
<iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~quintenrivers/4.embed"></iframe>
</div>
<div class = "county">
<iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~quintenrivers/6.embed"></iframe>
</div>
<div class = "graph">
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~quintenrivers/8.embed"></iframe></div>



<router-outlet></router-outlet>
</html>